@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

:root{
    --primary-darkest-color: #161925;
    --primary-dark-color: #23395b;
    --primary-main-color: #406e8e;
    --primary-light-color: #8EA8C3;
    --primary-lightest-color: #CBF7ED;

    --secondary-darkest-color: #3A8383;
    --secondary-dark-color: #3E937F;
    --secondary-main-color: #2DB470;
    --secondary-light-color: #D9C9E4;
    --secondary-lightest-color: #D8E5E9;
}

body {
    font-family: "Londrina Solid", sans-serif;
    text-align: center;
}

header h1 {
    font-weight: black;
    font-size: 5vmin;
}
header h2 {
    font-weight: black;
    font-size: 3vmin;
}

body {
display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows: .5fr 3fr repeat(4, 1fr);
grid-column-gap: 0;
grid-row-gap: 1em;
background-image: url(https://images4.alphacoders.com/137/thumb-1920-1375139.png);
margin:0;
}

.navbar {
    color: white;
    font-size: 1em;
    grid-area: 1 / 1 / 2 / 11;
    background-image: linear-gradient(var(--primary-light-color) 0%, var(--primary-main-color) 48%,var(--primary-dark-color) 52%, var(--primary-darkest-color) 100%);
    opacity: 80%;
    text-align: start;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 2px 2px -1px white, inset 0 -2px 2px -1px black;
}

.navbar * {
    text-decoration: none;
    color: inherit;
    opacity: 100%!important;
}

header {
    grid-area: 2 / 1 / 3 / 11; 
    padding: 1em;
    margin:0 1em;
}

header *{
    filter: drop-shadow(0 0 5px white);
}

main {
    grid-area: 3 / 2 / 6 / 10;
    margin:0 1em;
    padding: 1em;
}

aside { grid-area: 3 / 10 / 6 / 11; }

footer { grid-area: 6 / 1 / 7 / 11; }

.panel{
    border-radius: 1em;
    background-image:radial-gradient(ellipse 100% 50% at 50% 0%, rgba(224, 224, 224, 0.5)10%, rgba(224, 224, 224, 0.04)100%, rgba(224, 224, 224, 0)), linear-gradient( to bottom, var(--primary-main-color) 50%, var(--primary-dark-color));
    box-shadow: inset 0 4px 2px -1px rgba(255, 255, 255, 0.25), inset 0 -4px 2px -1px rgba(0, 0, 0, 0.25), 0 0 5px black;
}

.boton{
    border: none;
    border-radius: 1em;
    height: 3em;
    background-image: linear-gradient(var(--secondary-main-color),var(--secondary-darkest-color), var(--secondary-main-color));
    box-shadow: inset 0 4px 2px -1px rgba(255, 255, 255, 0.3), inset 0 -4px 2px -1px rgba(0, 0, 0, 0.4), 0 .5em 5px rgba(0, 0, 0, 0.25);
}

.boton:active{
    border: none;
    border-radius: 1em;
    height: 3em;
    background-image: linear-gradient(var(--secondary-main-color),var(--secondary-darkest-color), var(--secondary-main-color));
    box-shadow: inset 0 4px 2px -1px rgba(255, 255, 255, 0.3), inset 0 -4px 2px -1px rgba(0, 0, 0, 0.4), 0 .5em 5px rgba(0, 0, 0, 0.25);
    filter: brightness(80%);
}

#servicio{
    background-image:radial-gradient(ellipse 100% 50% at 50% 0%, rgba(224, 224, 224, 0.5)10%, rgba(224, 224, 224, 0.04)100%, rgba(224, 224, 224, 0)), linear-gradient( to bottom, var(--secondary-dark-color) 50%, var(--secondary-dark-color));
}