@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

:root{
    --primary-darkest-color: #161925;
    --primary-dark-color: #23395b;
    --primary-main-color: #406e8e;
    --primary-light-color: #8EA8C3;
    --primary-lightest-color: #CBF7ED;

    --secondary-darkest-color: #3A8383;
    --secondary-dark-color: #3E937F;
    --secondary-main-color: #2DB470;
    --secondary-light-color: #D9C9E4;
    --secondary-lightest-color: #D8E5E9;
}

body {
    font-family: "Londrina Solid", sans-serif;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 5vmin;
}

h2 {
    font-weight:bold;
    font-size: 3vmin;
}

body {
display: grid;
grid-template-columns: repeat(10, 1fr);
grid-auto-rows: minmax(3vh, auto);
grid-column-gap: 0;
grid-row-gap: 1em;
background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9cbba6e5-cffe-4537-a24a-305b77e34fb7/dj5a3az-f63c3bf0-080d-4946-8383-b0d9ee58ca1a.png/v1/fill/w_1280,h_1112,q_80,strp/frutiger_aero_seamless_repeating_background_by_lonelycoconut_dj5a3az-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTExMiIsInBhdGgiOiIvZi85Y2JiYTZlNS1jZmZlLTQ1MzctYTI0YS0zMDViNzdlMzRmYjcvZGo1YTNhei1mNjNjM2JmMC0wODBkLTQ5NDYtODM4My1iMGQ5ZWU1OGNhMWEucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.5UFGUVq426JMAmvTkLaHtHoH4z22lDo6dHFNnLwXjdY);
margin:0;
}

.navbar {
    z-index: 10;
    transition: transform 0.3s;
    opacity: 95%;
    position: sticky;
    align-self: start;
    top:0;
    color: white;
    font-size: 2vmin;
    grid-area: 1 / 1 / 2 / 11;
    background-image: linear-gradient(var(--primary-light-color) 0%, var(--primary-main-color) 48%,var(--primary-dark-color) 52%, var(--primary-darkest-color) 100%);
    text-align: start;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 2px 2px -1px white, inset 0 -2px 2px -1px black;
}

.scroll-up .navbar{
    transform: translate3d(0, -100%, 0);
}

.scroll-down .navbar{
    transform: none;
}

.navbar * {
    text-decoration: none;
    color: inherit;
}

header {
    grid-area: 2 / 1 / 3 / 11; 
    padding: 1em;
    margin:0 1em;
}

main {
    grid-area: 3 / 1 / 6 / 11;

}

.container{
    width: 100%;
    flex-grow: 1;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

/*aside { grid-area: 3 / 10 / 6 / 11; }*/

aside {
    width: 1fr;
}

footer { grid-area: 6 / 1 / 7 / 11; }

.panel{
    opacity: 95%;
    flex-shrink: 1;
    max-width: 100%;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    background-image:radial-gradient(ellipse 100% 50% at 50% 0%, rgba(224, 224, 224, 0.5)10%, rgba(224, 224, 224, 0.04)100%, rgba(224, 224, 224, 0)), linear-gradient( to bottom, var(--primary-main-color) 50%, var(--primary-dark-color));
    box-shadow: inset 0 4px 2px -1px rgba(255, 255, 255, 0.25), inset 0 -4px 2px -1px rgba(0, 0, 0, 0.25), 0 0 5px black;
}

.items {
    align-items: stretch;
}

.items * {
    flex: 1 1 0;   
}

.socials {
    justify-content: center;
}

.socials * {
    margin: auto 2vw;
    height: 10vmin;
    max-height: 4vh;
}

.vertical {
    flex-direction: column;
}

.banner{
    margin-right: 1em;
    max-height: 100%;
}

.banner *{
    object-fit: fill;
}

.boton{
    font-size: inherit;
    font-family: inherit;
    border: none;
    border-radius: 1em;
    height: 3em;
    background-image: linear-gradient(var(--secondary-main-color),var(--secondary-dark-color), var(--secondary-main-color));
    box-shadow: inset 0 4px 2px -1px rgba(255, 255, 255, 0.3), inset 0 -4px 2px -1px rgba(0, 0, 0, 0.4), 0 .5em 5px rgba(0, 0, 0, 0.25);
}

.boton:active{
    filter: brightness(80%);
}

.principal{
    background-image:radial-gradient(ellipse 100% 50% at 50% 0%, rgba(224, 224, 224, 0.5)10%, rgba(224, 224, 224, 0.04)100%, rgba(224, 224, 224, 0)), linear-gradient( to bottom, var(--secondary-dark-color) 50%, var(--secondary-dark-color));
}

.form {
    flex-grow: 0;
    max-width: fit-content;
    margin: auto;
}

boton:hover{
    cursor: pointer;
}

ul {
    text-align: start;
}

@media (max-width: 1280px) {
    #ad * {
        max-width: 128px;
        height: auto;
    }
}

@media (max-width: 969px){
    #ad {
        display: none;
    }
}
@media (max-width: 812px){
    .items{
        display: flex;
        flex-direction: column;
    }
    h1 {
    font-size: 7vmin;
    }

    h2 {
        font-size: 5vmin;
    }

    h3, .navbar {
        font-size: 4vmin;
    }

    p {
        font-size: 3vmin;
    }
}

@media (max-width: 480px),(pointer:none), (pointer:coarse){
    h1 {
    font-size: 10vmin;
    }

    h2 {
        font-size: 7vmin;
    }

    h3, .navbar{
        font-size: 5vmin;
    }

    p {
        font-size: 4vmin;
    }
}