@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

body {
    font-family: "Londrina Solid", sans-serif;
    text-align: center;
}

header h1 {
    font-weight: black;
    font-size: 5vmin;
}
header h2 {
    font-weight: black;
    font-size: 3vmin;
}

body {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: .5fr 3fr repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.navbar {
    color: white;
    font-size: 1em;
    grid-area: 1 / 1 / 2 / 6;
    background-image: linear-gradient(#8EA8C3 0%, #406e8e 48%, #23395b 52%,#161925 100%);
    text-align: start;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 2px 2px -1px white, inset 0 -2px 2px -1px black;
}

header {
    grid-area:  2 / 1 / 3 / 6;  
    padding: 1em;
}

header *{
    filter: drop-shadow(0 0 5px white);
}

main { grid-area: 3 / 1 / 6 / 5; }
aside { grid-area: 3 / 5 / 6 / 6; }
footer { grid-area: 6 / 1 / 7 / 6; }